<html>
	<body>
		<table>
			<tr>
				<td>Id</td>
				<td>Titulo</td>
				<td>Descrição</td>
				<td>Preço</td>
			</tr>
			<%for (var i = 0; i < listagem.length; i++) {%>
				<tr>
					<td><%=listagem[i].id%></td>
					<td><%=listagem[i].titulo%></td>
					<td><%=listagem[i].descricao%></td>
					<td><%=listagem[i].preco%></td>
				</tr>
			<%}%>
		</table>
	</body>
</html>