<br>
<ul>
    <li [id]=" 'list-' +  (i + 1) " 
        *ngFor="let item of tasksList; index as i " 
        [appMyTask]="item">
        {{(item.name | lowercase) + ' - '+ (item.value | formatCurrency) + ' - ' + (item.date_launch | formatDate) }}
    </li>

    <!--<li [id]=" 'list-' +  (i + 1) " 
        *ngFor="let item of tasks; index as i " 
        [style.color]="item.value > 5 ? 'green' : 'red'"
        class="padrao"
        [ngClass]="{'item-green': item.value > 5, 'item-red': item.value <= 5}"
        
        [appMyTask]="item">
        {{(item.name | lowercase) + ' - '+ (item.value | formatCurrency) + ' - ' + (item.date_launch | formatDate) }}
    </li>-->
</ul>
